@import "almond.min.css";
@import "menu.css";

.col75 {
  flex: 75%;
  margin: 0.5em;
}

.col25 {
  flex: 25%;
  margin: 0.5em;
}

.row {
  display: flex;
  flex-direction: row;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 805px) {
  .row {
    flex-direction: column;
  }
}

hr {
  width: 90%;
  max-width: unset;
}

aside {
  font-size: xx-large;
  border: 2px;
  border-style: solid;
  padding: 1em;
  width: 75%;
  color: #c62c0a;
}

.btn {
  display: block;
  border-radius: 0.6em;
  font-weight: bold;
  padding: 0.3em;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

a.btn {
  text-decoration: none;
  color: #FFF;
}

.register {
  background: #3871c2;
  font-size: xx-large;
  color: #FFF;
}

.donate {
  background: #589112;
  font-size: x-large;
  color: #FFF;
}
